<div class="container">
  <div class="row">
    <div class="col-sm-12 bg-white">

      <h1 class="text-center log-in">Edit Your List</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>