<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12 bg-white">
      <h1 class="text-center log-in">Add a Comment</h1>
      <%= render 'form' %>
      <br>
    </div>
  </div>
</div>