<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><h1 class="display-4">MaintenanceCo - The Repair Task Tracker</h1>
    <%= image_tag 'LogoMakr-8ezZYq.png', style: 'height:10%; width:10%' %>
    <p class="lead">The industry leader for helping Maintenance and Repair workers keep track of their jobs on properties.</p> 
  </div>
</div>