<div class="jumbotron jumbotron-fluid">
  # <div class="container">
    <center class="logo"><%= image_tag 'LogoMakr-8ezZYq.png', style: 'height:20%; width:20%' %></center>
    <br>
    <center><h1 class="display-4">MaintenanceCo - The Repair Task Tracker</h1>
    
    <p class="lead">The industry leader for helping Maintenance and Repair workers keep track of their jobs on properties.</p> 
    </center>
</div>