<div class="col-sm-12 bg-white">
    <table>
        <tr>
            <th><%= @user.username %> Lists</th>
        <tr>
            <% @user.lists.each do |list| %>
            <tr>
                <td><%= link_to list.name, user_list_path(@user, list) %></td>
            <tr>
            <% end %>
    </table>
</div>