<center><h1>Welcome to MaintenanceCo</h1>
<br>
<p>This app is to help workers in the maintenance field by being able organize their tasks and keep track of what new tasks they have to complete throughtout their day.</p>
<br>
</center>