/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";


nav {
  font-weight: bolder;
  background-color: grey;
}

a.navbar-brand {
  box-sizing: border-box;
  size: 1pt;
  padding: 1px;
  margin: 1px;
  border: 1px;
}

body {
    background-image:url('/images/blue-background.png');
  }
  .field_with_errors input {
    border: 1px solid red;
}
 
  a {
    text-align: center;
    color: white;
  }

  p {
    color: white;
  }

  .notice {
    text-align: center;
  }

  .field_with_errors {
    color: rgb(139, 90, 90);
  }
  
  .checkboxes {
    text-align:right;
  }
  
  .checkboxes label {
    margin: 0px 20px 0px 3px;
  }

  li {
    list-style-position: none;
    color: white;
  }

  ul {
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0px;
  }

  h1 {
    text-align: center;
    font-weight: bolder;
    color: white;
  }

  .display-4 {
    font-weight: bolder;
  }

  h2 {
    font-weight: bolder;
    color: white;

  }

  main {
    background-image: linear-gradient(grey, black);
  }

  .col-md-4 {
    text-align: center;
  }

  label {
    color: white;
  }

  h6 {
    color: white;
  }

.jumbotron-fluid {
  background-image: linear-gradient(black, grey);
}

/* .notice {
  background-color: grey;
}

.alert {
  background-color: grey;
} */

.container {
  box-shadow: 2px;
}

.logo:hover {
  transform: scale(1.25);
}

.navbar-brand {
  max-block-size: 50px;
}

.task-container {
  border-style: ridge;
  border-color: white;
}

.list-index-container {
  border-style: ridge;
  border-color: white;
}

h3 {
  color: white;
}

form {
  color: white;
}

tr {
  color: white;
}

/* input {
  color: white;
} */

.form-control {
  border-color: white;
  width: 200px;
}

textarea {
  width: 400px
}
